<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blend.androiddesignpattern">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/design"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.blend.androiddesignpattern.o_visitor.butterknife.DemoActivity"></activity>
        <activity android:name="com.blend.androiddesignpattern.l_memento.Demo2.NodeMainActivity" />
        <activity android:name="com.blend.androiddesignpattern.q_proxy.Binder.BankActivity" />
        <activity android:name="com.blend.androiddesignpattern.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.blend.androiddesignpattern.x_mvp.optimize.ActiclesActivity" />
        <activity android:name="com.blend.androiddesignpattern.o_visitor.aa_annotation.AnnotationActivity" />

        <service
            android:name="com.blend.androiddesignpattern.q_proxy.Binder.BankService"
            android:process="com.blend.androiddesignpattern.q_proxy.Binder.BankService"></service>
    </application>

</manifest>